/* start index styles */

/*
1.index styles .
2.universal styles .
3.common styles .
4.content styles .
5.media query styles .
*/

/* end index styles */

/* start universal styles */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.428;
  background-color: #f7f7f9;
}

::-webkit-scrollbar {
  width: 6.5px;
}

::-webkit-scrollbar-track {
  background-color: #e8dfec;
}

::-webkit-scrollbar-thumb {
  height: 51.2413%;
  background-color: #6070ff;
  border-radius: 0 0 10px 10px;
}

html {
  scroll-behavior: smooth;
}

/* end universal styles */

/* start common styles */
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.pd-y {
  padding: 42px 0;
}

.container {
  margin: 0 auto;
  padding: 0 28px 0 24px;
}

.responsive {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section {
  background-color: #f7f7f9;
  margin-top: -2px;
}

.hover:hover,
.wow.hover:hover {
  background-color: #6070ff;
  color: #fff;
}

.hover:focus,
.wow.hover:focus {
  background-color: #2230d2;
  color: #fff;
}

button,
.form__control > input[type="submit"] {
  transition: all 0.5s;
}

.disc::before {
  content: "\2022";
  color: #c1c7d0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 0;
  font-size: 23px;
}

/* end common styles */

/* start content styles */

/* start nav */
header {
  background-color: #fff;
}

.header__container__parhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__container__parhead__brand > a {
  height: 72px;
  font-size: 18px;
  color: #6070ff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: font-size 0.5s;
}

.header__container__parhead__brand > a:hover {
  font-size: 30px;
}

.header__container__parhead__nav__ul {
  display: flex;
}

.header__container__parhead__nav__ul__responsive {
  width: 18px;
  height: 12px;
}

.first__ul {
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.first__ul > li {
  margin: 6px 10px 10px 0;
  display: flex;
  align-items: center;
  color: #6b778c;
}

.second__ul {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.second__ul > li {
  background-color: #ebebff;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 3px;
  color: #6070ff;
}

.header__container__parhead__nav__ul > .iwq {
  display: none;
}

.accordion > li {
  border: 0;
  outline: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  font-size: 20px;
  margin-bottom: 25px;
  border-bottom: 2px solid #ddd;
}

.header__container__parhead__nav__ul > .iwq > li {
  margin-right: 10px;
}

.header__container__parhead__nav__ul > .iwq > li > a {
  color: #6070ff;
}

/* end nav */

/* start sectionone */

.overlay {
  background-image: url(../imgs/bg-mobile.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 92px 24px 136px 24px;
  border-bottom-left-radius: 73px;
}

.sectionone__heroimage > p,
.sectionone__heroimage > h1 {
  margin-bottom: 15px;
}

.sectionone__heroimage > h1 {
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  animation: hiddenH1 4s;
}

@keyframes hiddenH1 {
  from {
    margin-left: -645px;
    opacity: 0;
  }

  to {
    margin-left: 0;
    opacity: 1;
  }
}

.sectionone__heroimage > p {
  font-size: 20px;
  color: #344563;
  animation: hiddenP 4s;
}

@keyframes hiddenP {
  from {
    margin-right: -645px;
    opacity: 0;
  }

  to {
    margin-right: 0;
    opacity: 1;
  }
}

.sectionone__heroimage > button {
  color: #7f8cff;
  margin-bottom: 15px;
  border: 0;
  outline: 0;
  background-color: transparent;
  font-weight: bold;
}

.social {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.social__responsive {
  margin-right: 15px;
}

/* end sectionone */

.sectiontwo__container__items,
.sectionthree__container__posts,
.sectionfour__container__rows,
.sectionfive__container__services {
  flex-direction: column;
  display: grid;
  grid-row-gap: 13px;
  border: 2px solid #ddd;
  padding: 15px 15px 33px 15px;
  border-radius: 19px;
  background-color: #fff;
  grid-template-rows: 0fr 1fr;
}

/* start animation and transition */
.sectiontwo__container__items__item__responsive,
.sectionthree__container__posts__post__responsive,
.sectionfour__container__rows__row__responsive,
.sectionfive__container__services__service__responsive {
  overflow: hidden;
}

.sectiontwo__container__items__item__responsive__respo,
.sectionthree__container__posts__post__responsive__respo,
.sectionfour__container__rows__row__responsive__respo,
.sectionfive__container__services__service__responsive__respo {
  transition: transform 0.5s ease-in-out;
}

.sectiontwo__container__items__item__responsive__respo:hover,
.sectionthree__container__posts__post__responsive__respo:hover,
.sectionfour__container__rows__row__responsive__respo:hover,
.sectionfive__container__services__service__responsive__respo:hover {
  transform: scale(1.1);
}

/* animation: imageport 0.5s;
@keyframes imageport {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.5);
  }
} */

/* end animation and transition */
.sectionsix__container__skills {
  flex-direction: column;
  display: grid;
  grid-row-gap: 13px;
  padding: 15px 15px 33px 15px;
  grid-template-rows: 0fr 1fr;
}

.sectiontwo__container__items__item > h2,
.sectionthree__container__posts__post > h2,
.sectionfour__container__rows__row > h2,
.sectionfive__container__services__service > h2,
.sectionsix__container__skills__skill > h2 {
  margin-bottom: 15px;
  font-size: 32px;
}

.sectiontwo__container__items__item > p,
.sectionthree__container__posts__post > p,
.sectionfour__container__rows__row > p,
.sectionfive__container__services__service > p,
.sectionsix__container__skills__skill > p {
  margin-bottom: 15px;
}

.sectiontwo__container__items__item > button,
.sectionthree__container__posts__post > button,
.sectionfour__container__rows__row > button,
.sectionfive__container__services__service > button,
.sectionsix__container__skills__skill > button {
  outline: 0;
  padding: 13px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #396df2;
  color: #396df2;
  font-size: 17px;
}

.sectionsix {
  background-color: #fff;
  border-top-right-radius: 73px;
}

.first__ul > li:nth-child(1) {
  font-weight: bold;
  color: #344563 !important;
}

.sectionsix__container__skills__skill > h3 {
  color: #7f8cff;
  margin-bottom: 15px;
  background-color: transparent;
  font-weight: bold;
}

.accordion .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.accordion .content > .flex {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #f7f7f9;
  width: 100%;
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
}

.accordion .content > .flex > * {
  margin-right: 10px;
}

.white {
  background-color: #fff;
}

.footer {
  background-image: url(../imgs/contact\ form\ shapes-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6070ff;
  border-top-left-radius: 73px;
  padding: 123px 0 42px 0;
}

.footer__container__parfoot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__container__parfoot > form {
  width: 100%;
}

.footer__container__parfoot > h3 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 15px;
}

.footer__container__parfoot > p {
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.form__control > input[type="text"],
.form__control > input[type="email"],
.form__control > textarea {
  border: 0;
  outline: 0;
  border-radius: 5px;
  width: 100%;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.form__control > input[type="text"]::placeholder,
.form__control > input[type="email"]::placeholder,
.form__control > textarea::placeholder {
  color: #b3bac5;
}

.form__control > input[type="submit"] {
  border: 0;
  outline: 0;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
  color: #6070ff;
  background-color: #fff;
  font-size: 17px;
}

.form__control > input[type="submit"]:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: #6070ff;
}

.form__control > input[type="submit"]:focus {
  background-color: #2230d2;
  color: #fff;
}

/* end content styles */

/* start media query styles */
@media screen and (min-width: 768px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }

  .header__container__parhead__nav__ul > .iwq {
    display: flex;
  }

  .header__container__parhead__nav__ul > .iwq li:hover {
    border-bottom: 1px solid #172b4d;
    transition: all 0.5s linear;
  }

  .header__container__parhead__nav__ul__responsive {
    width: 0;
    height: 0;
  }

  .sectionone {
    height: 916px;
  }

  .overlay {
    background-image: url(../imgs/Header\ 2x.png);
    height: 916px;
    background-size: contain;
  }

  .sectiontwo__container__items,
  .sectionthree__container__posts,
  .sectionfour__container__rows,
  .sectionfive__container__services {
    flex-direction: row;
    display: grid;
    grid-column-gap: 30px;
    border: 2px solid #ddd;
    border-radius: 19px;
    background-color: #fff;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 452px;
    padding: 21px;
  }

  .sectionsix__container__skills {
    flex-direction: row;
    display: grid;
    grid-column-gap: 39px;
    padding: 15px 15px 33px 15px;
    grid-template-columns: 40% 60%;
    grid-template-rows: 481px;
  }

  .sectiontwo__container__items__item__responsive,
  .sectionthree__container__posts__post__responsive,
  .sectionfour__container__rows__row__responsive,
  .sectionfive__container__services__service__responsive {
    height: 100%;
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    border-radius: 9px;
    padding: 20px;
  }

  .sectiontwo__container__items__item__responsive__respo,
  .sectionthree__container__posts__post__responsive__respo,
  .sectionfour__container__rows__row__responsive__respo,
  .sectionfive__container__services__service__responsive__respo {
    border-radius: 9px;
  }

  .second__ul {
    margin-bottom: 42px;
  }

  .footer__container__parfoot > form {
    width: 50%;
    animation: form 2s;
    animation-delay: 5s;
  }
  
  @keyframes form {
    from {
      margin-left: -2197px;
    }
    to {
      margin-left: 0;
    }
  }



  .order__1 {
    order: 1;
  }

  .order__2 {
    order: 2;
  }

  .footer {
    background-image: url(../imgs/contact\ form\ background\ shapes@2x.png);
    background-size: contain;
    background-position: 9px 5px;
  }

  .accordion .content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .accordion .content > .flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    background-color: #f7f7f9;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    flex-direction: column;
    margin-right: 11px;
    width: 100px;
  }
}

/* end media query styles */
