<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- start fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <!-- end fonts -->
    <link rel="stylesheet" href="../static/css/index.css" />
    <title>Portfolio</title>
  </head>
  <body>
    <!-- start nav -->
    <header class="nav" id="nav">
      <div class="container">
        <div class="header__container__parhead">
          <div class="header__container__parhead__brand">
            <a href="#">My Logo</a>
          </div>

          <nav class="header__container__parhead__bars">
            <ul class="header__container__parhead__bars__responsive">
              <li>
                <img
                  src="..//static/imgs/Union@2x.png"
                  alt="Union@2x"
                  class="responsive header__container__parhead__bars__responsive__respo"
                />
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <!-- end nav -->
    <!-- start sectionone -->
    <section class="sectionone" id="sectionone">
      <div class="overlay">
        <div class="sectionone__heroimage">
          <h1>
            I’m Alexandra<br />
            Glad to see you!
          </h1>
          <p>
            I’m a software developer! I can help you build a product , feature
            or website Look through<br />
            some of my work and experience! If you like what you see and have a
            project you need <br />
            coded, don’t hestiate to contact me.
          </p>
          <button>LET’S CONNECT</button>
          <ul class="social">
            <li class="social__responsive">
              <a href="https://twitter.com">
                <img
                  src="../static/imgs/twitter.png"
                  alt="twitter"
                  class="social__responsive__respo"
                />
              </a>
            </li>
            <li class="social__responsive">
              <a href="https://linkedin.com">
                <img
                  src="../static/imgs/Linkedin icon.png"
                  alt="Linkedin"
                  class="social__responsive__respo"
                />
              </a>
            </li>
            <li class="social__responsive">
              <a href="https://medium.com">
                <img
                  src="../static/imgs/medium.png"
                  alt="medium"
                  class="social__responsive__respo"
                />
              </a>
            </li>
            <li class="social__responsive">
              <a href="https://github.com">
                <img
                  src="../static/imgs/github.png"
                  alt="github"
                  class="social__responsive__respo"
                />
              </a>
            </li>
            <li class="social__responsive">
              <a href="https://angellist.com">
                <img
                  src="../static/imgs/angellist.png"
                  alt="angellist"
                  class="social__responsive__respo"
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <!-- end sectionone -->
  </body>
</html>
